*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin backGround() {
  background: rgb(3,36,0);
  background: radial-gradient(circle,
  rgba(3,36,0,0.30015756302521013) 0%,
  rgba(9,121,31,0.5298494397759104) 53%,
  rgba(61,255,0,0.6530987394957983) 100%);
}


.banner{
  @include flexCenter(column);
  @include backGround();
  height:100vh;

  .heading{
    text-align:center;
  }
  
}
.button{
    .button__action{
      background: rgb(165,7,231);
background: linear-gradient(90deg, rgba(165,7,231,1) 0%, rgba(194,83,245,1) 50%, rgba(226,85,250,0.9332107843137255) 100%);

    }
  }
.register{  
  .register-form{
    @include flexCenter(column);
    label{
      padding-top:10px;
    }
  }
  .button{
    text-align: center;
    .button__register{
      margin-top:20px;
    }
  }

}

.login{
  .login-form{
    @include flexCenter(column);
    label{
      padding-top:10px;
    }
  }
 
}

  


